.navbar img{
    width: 3rem;
    height: auto;
}

.inicio{
    background-image: url(https://images2.alphacoders.com/117/1171867.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;

    color: antiquewhite;
}

.inicio img{
    width: 20rem;
    height: auto;
    border-radius: 50%;
}

.acerca{
    background-image: url(https://ximhai.com/img/programando.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    color: blanchedalmond;
}

.acerca img{
    width: 15rem;
    height: auto;
    border-radius: 50%;
}

.trabajos{
    background-image: url(https://dkv.es/corporativo/sites/default/files/2022-11/que%20son%20las%20ong.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    color: blanchedalmond;
}

.Juego{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/38c0cef0-b1fd-4ec0-8c4c-4aa71596e756/ddjce7y-2f13b8d7-5d1e-4b85-b161-21939687524b.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM4YzBjZWYwLWIxZmQtNGVjMC04YzRjLTRhYTcxNTk2ZTc1NlwvZGRqY2U3eS0yZjEzYjhkNy01ZDFlLTRiODUtYjE2MS0yMTkzOTY4NzUyNGIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.jmdcTiN8Xbf2F-6QHdGdLYVt2rkBQbTUK2ZRK41LetI);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    color: blanchedalmond;
}

.Contacto{
    background-color: black;
    color: antiquewhite;
}